body {
  background-color: #e1e1e1;
  padding: 30px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#myImg {
  border-radius: 8px;
}

#myImg:hover {
  cursor: pointer;
  opacity: 0.85;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
  overflow: auto;
  padding: 30px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 3s ease 3s;
  transition: all 3s ease 3s;
}

.modal-content {
  position: relative;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
  margin: 15% auto;
  width: 100%;
}

.modal-content .close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
}

.modal-content .close:hover {
  cursor: pointer;
  opacity: 0.7;
}

.modal-content img {
  width: 100%;
  border-radius: 10px;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}
